@tailwind base;
@tailwind components;
@tailwind utilities;

p {
	@apply pb-3;
}

a {
	@apply text-blue-500;
}

h2 {
	@apply font-bold text-2xl pb-3 pt-4
}

h3 {
	@apply font-bold text-xl pb-3 pt-4
}

h4 {
	@apply font-bold pb-3 pt-4
}

ul,
ol {
	list-style-type: disc;
	/* You can use 'decimal' for ordered lists */
	margin: 1em 0;
	/* Reapply the margin */
	padding-left: 40px;
	/* Reapply padding to create space for the bullets/numbers */
}

li {
	margin-bottom: 0.5em;
	/* Add some space between list items */
}

.katex-html {
	@apply hidden;
}

.katex-display {
	@apply block my-5;
}

blockquote {
	@apply border-l-2 border-red-600 pl-5 my-5;
}